<li class="main-gif-section">
  <div class="collapsible-header" id="gif-panel">
    Post a gif
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </div>
  <div class="collapsible-body">
    <div class="row">
      <div class="input-field col s12">
         <%= image_tag("giphy_logo", class: "giphy-logo") %>
        <h5 class="prompt-q">
          <em>Suggested prompt: <%= @prompt.content %></em>
        </h5>
        <div class="row">
          <input id="gif-search" type="gif-search" placeholder="Search for a gif">
        </div>
      </div>
      <div class="all-gifs grid" data-masonry='{ "itemSelector": ".grid-item", "percentPosition": true}'>
        <div class="grid-sizer"></div>
        <a class="results-section" data-id="1" id="results1"></a>
        <a class="results-section" data-id="2" id="results2"></a>
        <a class="results-section" data-id="3" id="results3"></a>
        <a class="results-section" data-id="4" id="results4"></a>
        <a class="results-section" data-id="5" id="results5"></a>
        <a class="results-section" data-id="6" id="results6"></a>
        <a class="results-section" data-id="7" id="results7"></a>
        <a class="results-section" data-id="8" id="results8"></a>
        <a class="results-section" data-id="9" id="results9"></a>
        <a class="results-section" data-id="10" id="results10"></a>    
      </div>
      <div class="heheoops"></div>
      
      <div class="row">
        <ul class="pagination">
            
        </ul>
      </div>
      
      <form id="gif-form">
        <div class="row name-area">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12 m4">
                <i class="material-icons prefix active">account_circle</i>

                <textarea class="materialize-textarea" required="required" name="component[author]" id="component_author"></textarea>
                <label for="component_author" class="active">Your Name</label>
              </div>

              <div class="input-field col s12 m4">
                <input name="component[to_prompt]" type="hidden" value="0"><input class="filled-in" id="to-prompt-gif" type="checkbox" value="1" name="component[to_prompt]">

                <label for="to-prompt-gif">Check if you are answering the prompt</label>
                <input value="3" type="hidden" name="component[prompt_id]" id="component_prompt_id">
              </div>

              <div class="input-field col s12 m4 submit-column">
                <i class="btn waves-effect waves-light submit-btn waves-input-wrapper"><input type="submit" name="action" value="Submit" class="waves-button-input" id="gif-button"></i>
              </div>
            </div>
          </div>
        </div>
      </form>


    </div>
  </div>
</li>