<li>
  <div class="collapsible-header" id="gif-panel">
    Post a gif
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </div>
  <div class="collapsible-body">
    <div class="row">
      <div class="input-field col s12">
         <%= image_tag("giphy_logo", class: "giphy-logo") %>
        <h5><em>Suggested prompt: What is a fun date idea?</em></h5>
        <div class="row">
          <input id="gif-search" type="gif-search" placeholder="Search for a gif">
          <button class="btn waves-effect waves-light center-align" id="gif-button">
            go!
          </button>
        </div>
      </div>
      <div class="all-gifs grid">
        <div class="grid-sizer"></div>
        <a class="results-section" data-id="1" id="results1"></a>
        <a class="results-section" data-id="2" id="results2"></a>
        <a class="results-section" data-id="3" id="results3"></a>
        <a class="results-section" data-id="4" id="results4"></a>
        <a class="results-section" data-id="5" id="results5"></a>
        <a class="results-section" data-id="6" id="results6"></a>
        <a class="results-section" data-id="7" id="results7"></a>
        <a class="results-section" data-id="8" id="results8"></a>
        <a class="results-section" data-id="9" id="results9"></a>
        <a class="results-section" data-id="10" id="results10"></a>    
      </div>
      <div class="row">
        <ul class="pagination">
            
        </ul>
      </div>
    </div>
  </div>
</li>