<li>
  <div class="collapsible-header" id="hash-panel">
    #happilyeverspoons Photo Feed
    <i class="fa fa-caret-down" aria-hidden="true"></i>

  </div>
  <div class="collapsible-body">
    <p>Coming Soon</p>
  </div>
</li>