<li>
  <div class="collapsible-header" id="hash-panel">
    #michelleandthor Photo Feed
    <i class="fa fa-caret-down" aria-hidden="true"></i>

  </div>
  <div class="collapsible-body">
    <p>Please log into your Instagram account to view #michelleandthor.</p>
  </div>
</li>