<div class="hero">
	<h1>Michelle and Thor</h1>
	<p>19 August 2016</p>
	<p>alskdfj hello yeah yum
		it melted
		oh yeah</p>
	</div>


	<div class="choosey">
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header" id="comment-panel">
					Leave a Comment
					<i class="fa fa-caret-down" aria-hidden="true"></i>

				</div>
				<div class="collapsible-body">
					<div class="row">
				    <form class="col s12">
				      <div class="row">
				        <div class="input-field col s12">
	                <i class="material-icons prefix">mode_edit</i>
	                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
	                <label for="icon_prefix2">Write your message below:</label>
	              </div>
				      </div>
							<button class="btn waves-effect waves-light center-align" type="submit" name="action">
								Submit
								<i class="material-icons">send</i>
							</button>
				    </form>
					</div>
				</div>
			</li>
			<li>
				<div class="collapsible-header" id="gif-panel">
					Post a gif
					<i class="fa fa-caret-down" aria-hidden="true"></i>

				</div>
				<div class="collapsible-body">
					<div class="row">
		        <div class="input-field col s6">
		          <input id="gif-search" type="gif-search">
		          <label for="gif-search">Search for a gif</label>
		        </div>
	        </div>
				</div>
			</li>
			<li>
				<div class="collapsible-header" id="hash-panel">
					#michelleandthor Photo Feed
					<i class="fa fa-caret-down" aria-hidden="true"></i>

				</div>
				<div class="collapsible-body">
					<p>Lorem ipsum dolor sit amet.</p>
				</div>
			</li>
		</ul>

	</div>




	<div id="target"></div>

