
@font-face {
  font-family: 'GothamBold';
  src: url('/assets/GothamBold.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamReg';
  src: url('/assets/GothamLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Wolf';
  src: url('/assets/Wolf.otf') format('opentype');
}

@font-face {
  font-family: 'Bromello';
  src: url('/assets/bromello.ttf') format('truetype');
}


$default-font: 'GothamReg';
$default-bold: 'GothamBold';
$accent-font: 'Bromello';
$black: black;
$charcoal: #2E2E30;
$rose: #ffdee3;
$dark-pink: #B8124A;
$gold: #fedd96;
$cream: #F8E2D9;
$white: #fffefb;
$card-padding: 8%;


body {
  font-family: $default-font, sans-serif;
  font-size: 16px;
  background: $black;
  color: $white;
}

p {
  font-size: 1em;
  word-wrap: break-word;
}

input {
  color: black;
}

input[type="text"] {
    border: 1px solid #ccc;
    padding: 4px 8px;
}

img {
    display: block;
    float: left;
}

h1 {
  font-family: $accent-font;
  font-size: 5em;
  letter-spacing: 1px;
}


.btn, .btn-large {
  background: $rose;
  &:hover {
    background: $dark-pink;
  }
}

.hero {
  background: image-url("engagement.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  margin: 0 auto;
  padding: 7%;
  text-align: center;

  h1 {
    margin: 0 auto;
  }
}

#component_author.materialize-textarea {
  padding: 0;
}

.submit-column {
  text-align: right;
  float: right;
}

.choosey {
  .fa.fa-caret-down {
    float: right;
    color: white;
  }

  ul {
    background: black;
    margin-top: 0px;

    .collapsible-header {
      background: black;
      height: 150px;
      font-size: 1.25em;
      &:hover {
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }

    .collapsible-body {
      text-align: center;
      .materialize-textarea {
        font-size: 25px;
      }
    }
  }

  .row.name-area {
    .submit-button {
      float: right;
      text-align: center;
    }
  }

  #comment-panel {
    .collapsible-header:hover {
      background-image: url("https://media.giphy.com/media/QIZ020wbKnNio/giphy.gif");
      background-size: 40%;
    }

    .prompt-q {
      margin-top: 20px;
    }
    .row.name-area {
      .col.s12 {
        margin-left: -10px;    
      }

      input[type="text"] {
        border: none;
      }
      .input-field.col.s9 {
        width: 50%;
      }
    }
  }
  
  #gif-panel:hover {
    background-image: url("http://bestanimations.com/Nature/Flora/blooming/blooming-orchid-gif.gif");
    background-size: 50%;
  }

  #img-panel:hover {
    background-image: url("https://media.giphy.com/media/czevJlexlxAyc/giphy.gif");
    background-size: 65%;
  }

  #hash-panel:hover {
    background-image: url("https://media.giphy.com/media/fw9jSdfb3wYx2/giphy.gif");
  }

}

@media screen and (max-device-width: 550px) {

  .choosey {
    ul {
      .collapsible-header{
        height: 75px;
      }
      .collapsible-body {
        padding: 2%;
      }
    }
  }
}

.main-gif-section {
  .giphy-logo {
    float: right;
    width: 100px;
  }

  .all-gifs {
    width: 75%;
    margin: 0 auto;
    img {
      cursor: pointer;
    }
  }

  .results-section {
    display: none;
  }

  .pagination {
    display: none;
  }

  #gif-search {
    margin-top: 20px;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    height: 45px;
    &:focus {
      outline: none;
    }
  }
}


.heheoops:before, 
.heheoops:after {
  content: " "; 
  display: table; 
}

.heheoops:after {
  clear: both;
}


/*placeholder*/
::-webkit-input-placeholder {
   font-size: 20px;
   padding-left: 10px;
   line-height: 1;
}
:-moz-placeholder { /* Firefox 18- */
   font-size: 20px;
   padding-left: 10px;  
}
::-moz-placeholder {  /* Firefox 19+ */
   font-size: 20px;
   padding-left: 10px;  
}
:-ms-input-placeholder {  
   font-size: 20px;
   padding-left: 10px;  
}


/*masonry grid*/
.grid-item {
  margin-bottom: 10px;
  img {
    max-height: 150px;
    margin: 15px;
  }
}

.prompt-q {
  color: $rose;
  margin-top: 10px;
}

.prompt {
  font-style: italic;
  font-size: 1em;
  line-height: 1.4;
  color: $black;
  margin-bottom: 0;
}

.dat-feedz {
  width: 85%;
  margin: 2% auto 150px;
  text-align: center;

  .grid-item {
    padding: 0;
    margin: 0 1% 1% 0;
  }

  .author-name {
    font-family: $accent-font;
    letter-spacing: 2px;
    color: $black;
    font-size: 2em;
  }

  .long-comment {
    background: $rose;
    color: $black;
    padding: $card-padding;
    border-radius: 3px;
    .author-name {
      margin: 0px;
    }
  }

  .short-comment {
    border: 2px solid $rose;
    border-radius: 3px;
    &.card {
      background: $black;
      color: $rose;
      padding: $card-padding;
      line-height: 1;
      letter-spacing: 2px;
    }
    .author-name {
      color: $rose;
      font-family: $default-font;
      font-size: 1em;
    }
    .content {
      font-family: $accent-font;
      font-size: 3em;
    }
    .prompt {
      color: $rose;
    }
  }

  .gif-comment {
    border-radius: 3px;
    &.card {
      background: $rose;
      text-align: center;
      .card-image img {
        margin-bottom: 10px;
      }
      .card-content {
        padding: 5px $card-padding;
        .prompt {
          color: $black;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .card-title {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
    img {
      max-width: 100%;
      max-height: 100%;
      margin: 0px;
    }
  }

  .card {
    margin: 0;
  }
}

.comment-content-area {
  h5 {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 601px) {
  .row .col.m4 {
    width: 32%;
    .card {
      /*margin: 0 10px 10px 10px;*/
    }
  }
}